.btn {
	&__basic {
		width: 100%;
		padding: .4rem 1.4rem;
		line-height: 1.8rem;
		letter-spacing: .1rem;
		font-size: .9rem;
		font-weight: 700;
		text-transform: uppercase;
		background: transparent;
		transition: all 0.5s;
		color:$colorBasic;
		border: 2px solid $colorBasic;
		&:hover {
			color:$colorAccent;
			border:2px solid $colorAccent;
		}
		&:focus {
			outline: none;
		}
		&:active {
			outline: none;
		}
		&--theme-black {
			border: 2px solid $colorBlack;
			color:$colorBlack;
			&:hover {
				color:$colorBlack;
				border: 2px solid $colorBasic;
				
			}
		}
		&--theme-opposite {
			background: rgba(38,38,38,0.6);
			color:$colorAccent;
			border: 2px solid $colorAccent;
			&:hover {
				border:2px solid $colorBasic;
				color:$colorBasic;
			}
		}
		&--borderless {
			border: none;
			&:hover {
				border: none;
			}
		}
		&--small {
			padding: .3rem 1rem;
			font-size: .8rem;
		}
	}
	&__back-to-top {
		display: none;
	}
	&__more {
		&--is-hidden {
			display: none;
		}
	}
	
}


// *** Media queries ***

@include media-breakpoint-up(md) {
	.btn {
		&__basic {
			width: auto;
			&--theme-opposite {
				background: transparent;
				width: 20%;
			}
		}
		
		&__back-to-top {
			position: fixed;
  			width: 48px;
  			height: 48px;
  			bottom: 50px;
  			right: 25px;
  			z-index: 1050; 
  			border: 1px solid $colorBasic;
  			opacity:.7;
  			color: $colorBasic;
  			&:hover {
  				opacity:1;
  			}
		}
	}
}

